<div class="login-card">

  <div class="card-title">
    <h1>Авторизация</h1>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div data-mdb-input-init class="form-outline mb-4">
      <input class="form-control" [readonly]="authService.isLoggedIn()" name="login" type="text" formControlName="login" placeholder="Login">
    </div>
    <div data-mdb-input-init class="form-outline mb-4">
      <input class="form-control" [readonly]="authService.isLoggedIn()" type="password" formControlName="password" placeholder="Password">
    </div>
    <p *ngIf="!authService.isLoggedIn()" class="login-result-message">{{loginResultMessage}}</p>
    <button type="submit"
            class="btn btn-primary w-100"
            [disabled]="loginForm.invalid || isLoading">

      <span *ngIf="!isLoading">
        <i class="fas fa-sign-in-alt me-2"></i>Войти
      </span>

      <span *ngIf="isLoading">
        <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
      </span>
    </button>
  </form>

</div>
