<div class="row">
  <div class="col-md-4">
    <mat-form-field>
      <mat-label>Продукт</mat-label>
      <mat-select [(ngModel)]="selectedProdName" (selectionChange)="select($event.value)">
        <mat-option *ngFor="let prodName of prodNames" [value]="prodName">
          {{prodName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-md-4">
    <mat-form-field>
      <mat-label>Введите диапазон дат</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input (dateInput)="addEvent('inputStartDate', $event)" matStartDate placeholder="Дата от">
        <input (dateChange)="addEvent('inputEndDate', $event)" matEndDate placeholder="Дата до">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </div>
</div>
<div (mouseenter) ="toggleBodyScroll(true)"  (mouseleave) ="toggleBodyScroll(false)">
  <div id="TFcc">
    <apx-chart [series]="TFccoptions.series"
               [chart]="TFccoptions.chart"
               [colors]="TFccoptions.colors"
               [yaxis]="TFccoptions.yaxis"
               [title]="TFccoptions.title"
               [dataLabels]="commonOptions.dataLabels"
               [markers]="commonOptions.markers"
               [stroke]="commonOptions.stroke"
               [grid]="commonOptions.grid"
               [xaxis]="commonOptions.xaxis"
               [tooltip]="commonOptions.tooltip">
            
    </apx-chart>
  </div>
  <div id="el1">
    <apx-chart [series]="chart1options.series"
               [chart]="chart1options.chart"
               [colors]="chart1options.colors"
               [yaxis]="chart1options.yaxis"
               [title]="chart1options.title"
               [dataLabels]="commonOptions.dataLabels"
               [markers]="commonOptions.markers"
               [stroke]="commonOptions.stroke"
               [grid]="commonOptions.grid"
               [xaxis]="commonOptions.xaxis"
               [tooltip]="commonOptions.tooltip">
    </apx-chart>
  </div>
  <div id="el2">
    <apx-chart [series]="chart2options.series"
               [chart]="chart2options.chart"
               [colors]="chart2options.colors"
               [yaxis]="chart2options.yaxis"
               [title]="chart2options.title"
               [dataLabels]="commonOptions.dataLabels"
               [markers]="commonOptions.markers"
               [stroke]="commonOptions.stroke"
               [grid]="commonOptions.grid"
               [xaxis]="commonOptions.xaxis"
               [tooltip]="commonOptions.tooltip">
    </apx-chart>
  </div>
  <div id="el3">
    <apx-chart [series]="chart3options.series"
               [chart]="chart3options.chart"
               [colors]="chart3options.colors"
               [yaxis]="chart3options.yaxis"
               [title]="chart3options.title"
               [dataLabels]="commonOptions.dataLabels"
               [markers]="commonOptions.markers"
               [stroke]="commonOptions.stroke"
               [grid]="commonOptions.grid"
               [xaxis]="commonOptions.xaxis"
               [tooltip]="commonOptions.tooltip">
    </apx-chart>
  </div>
  <div id="el4">
    <apx-chart [series]="chart4options.series"
               [chart]="chart4options.chart"
               [colors]="chart4options.colors"
               [yaxis]="chart4options.yaxis"
               [title]="chart4options.title"
               [dataLabels]="commonOptions.dataLabels"
               [markers]="commonOptions.markers"
               [stroke]="commonOptions.stroke"
               [grid]="commonOptions.grid"
               [xaxis]="commonOptions.xaxis"
               [tooltip]="commonOptions.tooltip">
    </apx-chart>
  </div>
  <div id="el5">
    <apx-chart [series]="chart5options.series"
               [chart]="chart5options.chart"
               [colors]="chart5options.colors"
               [yaxis]="chart5options.yaxis"
               [title]="chart5options.title"
               [dataLabels]="commonOptions.dataLabels"
               [markers]="commonOptions.markers"
               [stroke]="commonOptions.stroke"
               [grid]="commonOptions.grid"
               [xaxis]="commonOptions.xaxis"
               [tooltip]="commonOptions.tooltip">
    </apx-chart>
  </div>
  <div id="el6">
    <apx-chart [series]="chart6options.series"
               [chart]="chart6options.chart"
               [colors]="chart6options.colors"
               [yaxis]="chart6options.yaxis"
               [title]="chart6options.title"
               [dataLabels]="commonOptions.dataLabels"
               [markers]="commonOptions.markers"
               [stroke]="commonOptions.stroke"
               [grid]="commonOptions.grid"
               [xaxis]="commonOptions.xaxis"
               [tooltip]="commonOptions.tooltip">
    </apx-chart>
  </div>
  <div id="el7">
    <apx-chart [series]="chart7options.series"
               [chart]="chart7options.chart"
               [colors]="chart7options.colors"
               [yaxis]="chart7options.yaxis"
               [title]="chart7options.title"
               [dataLabels]="commonOptions.dataLabels"
               [markers]="commonOptions.markers"
               [stroke]="commonOptions.stroke"
               [grid]="commonOptions.grid"
               [xaxis]="commonOptions.xaxis"
               [tooltip]="commonOptions.tooltip">
    </apx-chart>
  </div>
  <div id="el8">
    <apx-chart [series]="chart8options.series"
               [chart]="chart8options.chart"
               [colors]="chart8options.colors"
               [yaxis]="chart8options.yaxis"
               [title]="chart8options.title"
               [dataLabels]="commonOptions.dataLabels"
               [markers]="commonOptions.markers"
               [stroke]="commonOptions.stroke"
               [grid]="commonOptions.grid"
               [xaxis]="commonOptions.xaxis"
               [tooltip]="commonOptions.tooltip">
    </apx-chart>
  </div>
</div>
<div class="mat-elevation-z8 flex-element">
  <table mat-table [dataSource]="productMeasures" class="mat-elevation-z8">

    <!--<ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef> {{column}} </th>
      <td mat-cell *matCellDef="let resultProducts"> {{resultProducts[column]}} </td>
    </ng-container>-->

    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef> <p>{{allColumns[0].label}}</p> </th>
      <td mat-cell *matCellDef="let resultProducts"> {{resultProducts.time | date:'dd/MM/yyyy HH:mm'}} </td>
    </ng-container>

    <ng-container matColumnDef="TFcc">
      <th mat-header-cell *matHeaderCellDef> <p>{{allColumns[1].label}}</p> </th>
      <td mat-cell *matCellDef="let resultProducts"> {{resultProducts.TFcc}} </td>
    </ng-container>

    <ng-container matColumnDef="el1">
      <th mat-header-cell *matHeaderCellDef> <p>{{allColumns[2].label}}</p> </th>
      <td mat-cell *matCellDef="let resultProducts"> {{resultProducts.el1}} </td>
    </ng-container>

    <ng-container matColumnDef="el2">
      <th mat-header-cell *matHeaderCellDef> <p>{{allColumns[3].label}}</p> </th>
      <td mat-cell *matCellDef="let resultProducts"> {{resultProducts.el2}} </td>
    </ng-container>

    <ng-container matColumnDef="el3">
      <th mat-header-cell *matHeaderCellDef> <p>{{allColumns[4].label}}</p> </th>
      <td mat-cell *matCellDef="let resultProducts"> {{resultProducts.el3}} </td>
    </ng-container>

    <ng-container matColumnDef="el4">
      <th mat-header-cell *matHeaderCellDef> <p>{{allColumns[5].label}}</p> </th>
      <td mat-cell *matCellDef="let resultProducts"> {{resultProducts.el4}} </td>
    </ng-container>

    <ng-container matColumnDef="el5">
      <th mat-header-cell *matHeaderCellDef> <p>{{allColumns[6].label}}</p> </th>
      <td mat-cell *matCellDef="let resultProducts"> {{resultProducts.el5}} </td>
    </ng-container>

    <ng-container matColumnDef="el6">
      <th mat-header-cell *matHeaderCellDef> <p>{{allColumns[7].label}}</p> </th>
      <td mat-cell *matCellDef="let resultProducts"> {{resultProducts.el6}} </td>
    </ng-container>

    <ng-container matColumnDef="el7">
      <th mat-header-cell *matHeaderCellDef> <p>{{allColumns[8].label}}</p> </th>
      <td mat-cell *matCellDef="let resultProducts"> {{resultProducts.el7}} </td>
    </ng-container>

    <ng-container matColumnDef="el8">
      <th mat-header-cell *matHeaderCellDef> <p>{{allColumns[9].label}}</p> </th>
      <td mat-cell *matCellDef="let resultProducts"> {{resultProducts.el8}} </td>
    </ng-container>

    <ng-container matColumnDef="item-description">
      <th mat-header-cell *matHeaderCellDef colspan="10" class="text-center"><p>Продукт "{{selectedProdName}}"</p></th>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['item-description']"
        class="first-header-row">
    </tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"
        class="second-header-row">
    </tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>
