<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
      <div class="navbar-brand">
        <img src="images/favicon.png" alt="" height="32"
             width="32" data-view-component="true"
             class="rivs-logo">
        <a class="navbar-brand color-bg-transparent" [routerLink]="['/home']">ASAK-RIVS</a>
      </div>
      <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown"
           [ngClass]="{ show: isExpanded }" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/measure']">Концентрации</a>
          </li>
          <!--<li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/log']">Лог</a>
          </li>-->
        </ul>
      </div>

      <div class="navbar-brand collapse navbar-collapse" id="navbarNavDropdown"
           [ngClass]="{ show: isExpanded }" [ngbCollapse]="isCollapsed">
        <div class="container-fluid text-center d-none d-lg-block">
          <span class="position-absolute end-0 translate-middle">Аналитический Центр</span>
        </div>
        <button height="32" width="32" class="color-bg-transparent Button"
                aria-label="Open user navigation menu" type="button" data-view-component="true"
                aria-expanded="false" aria-haspopup="true"
                mat-icon-button [matMenuTriggerFor]="menu">
          <img src="images/icon-user-profile.png" alt="" size="32" height="32"
               width="32" data-view-component="true" class="avatar-circle">
        </button>
        <mat-menu #menu="matMenu">
          <div class="user-name">
            <p>{{navService.userName.value!}}</p>
          </div>
          <button (click)="logout()" mat-menu-item>
            <span>Выход</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </nav>
</header>
