a.navbar-brand {
  white-space: normal;
  word-break: break-all;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* Эффект наведения для всех навигационных ссылок */
.nav-item .nav-link {
  transition: all 0.1s ease;
}

  .nav-item .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.08); /* Легкий фон */
  }

.Button {
  cursor: pointer;
  display: inline-flex;
  flex-direction: row;
  text-align: center;
  user-select: none;
}

.user-name {
  color: black;
  font-size: 14px;
  cursor: text;
  text-align: center;
}
.avatar-circle{
    margin-right: 8px;
}

.rivs-logo {
  margin-bottom: 6px;
  margin-right: 10px;
}

.color-bg-transparent {
  background-color: transparent !important;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
