a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.Button {
  border: var(--borderWidth-thin) solid;
  border-color: #0000;
  border-radius: var(--borderRadius-medium);
  cursor: pointer;
  display: inline-flex;
  flex-direction: row;
  text-align: center;
  user-select: none;
}

.rivs-logo {
  margin-right: 5px;
}

.color-bg-transparent {
  background-color: transparent !important;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
