a.navbar-brand {
  white-space: normal;
  word-break: break-all;
}

.Button {
  border: var(--borderWidth-thin) solid;
  border-color: #0000;
  border-radius: var(--borderRadius-medium);
  cursor: pointer;
  display: inline-flex;
  flex-direction: row;
  text-align: center;
  user-select: none;
}

.user-name {
  color: black;
  font-size: 14px;
  cursor: text;
  text-align: center;
}
.avatar-circle{
    margin-right: 8px;
}

.rivs-logo {
  margin-bottom: 6px;
  margin-right: 10px;
}

.color-bg-transparent {
  background-color: transparent !important;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
